.banner_top{
    top: 80px;
    background: #FD6106;
    position: static;
    width: 335px;
    height: 63.04px;
    left: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 30px 0px;    
}
.banner_new{    
    top: 1434.04px;
    background: #7B61FF;
    position: static;
    width: 335px;
    height: 63.04px;
    left: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 30px 0px;
}
.banner_ask{
    top: 2893.09px;
    background: #DB00FF;
    position: static;
    width: 335px;
    height: 63.04px;
    left: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 30px 0px;
}
.banner_show{
    top: 3796.13px;
    background: #69A075;
    position: static;
    width: 335px;
    height: 63.04px;
    left: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 30px 0px;
}
.banner_jobs{
    top: 4755.18px;
    background: #FEBB10;
    position: static;
    width: 335px;
    height: 63.04px;
    left: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 30px 0px;
}
.frame{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 335px;
    height: 164px;
    left: 20px;
    top: 342.04px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 10px 0px;
}